@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

.con {
    width:1000px;
    margin:0 auto;
}

/* 상단 */

.top-bar {
    text-align:center;
	background-color:#dfdfdf;
}

.logo_1 {
    position:relative;
	display:block;
    width:1000px;
    margin:0 auto;
}

.logo_1 > img{
    position:absolute;
	top:0;
    left:0;
	width:100px;
	height:100px;
}

.top-bar > .menu-box-1 {
	padding:100px 0px 30px 0px;
}

.top-bar > .menu-box-1 > ul {
    display:inline-block;
    background-color:white;
	padding:0px 30px;
	border-radius:30px;
}

.top-bar > .menu-box-1 > ul > li {
    display:inline-block;
}

.top-bar > .menu-box-1 > ul > li > a {
    display:block;
    padding:20px;
	font-size:18px;
}

.top-bar > .menu-box-1 > ul > li:hover > a, .top-bar > .menu-box-1 > ul > li.selected > a {
    background-color:seagreen;
    color:beige;
	font-weight:bold;
}

.line_1 {
	height:3px;
	background-color:seagreen;
	margin-bottom:1px;
}

.line_2 {
	background-color:seagreen;
	padding:5px 0px;
	text-align:center;
}

.line_3 {
	height:3px;
	background-color:seagreen;
	margin-top:1px;
}


.line_2 > span {
	color:white;
	font-size:24px;
}

/* 중단 */

.middle-bar {
	background-color:#dfdfdf;
}

.back2 {
	background-color:black;
}

/* 하단 */

.bottom-bar {
	background-color:#777777;
}

.bottom-bar > .con {
    position:relative;
}

.bottom-bar > .con > a {
	display:inline-block;
	color:white;
	padding:30px;
}

.btxt_1 {
	font-size:20px;
}

.btxt_2 {
	font-size:15px;
}

.logo_2 {
	width:100px;
	height:100px;
    position:absolute;
	top:50%;
    right:0;
	transform:translatey(-50%);
}

/* 홈 페이지 */

.index_box {
	position:relative;
	height:270px;
	width:990px;
	margin-top:20px;
}

.index_box > img {
	border:5px solid #ffffff;
	position:absolute;
	width:135px;
	height:215px;
	margin:10px;
	left:0;
	top:0;
	cursor:pointer;
	transition:width 0.2s, height 0.2s, transform 0.2s;
}

.index_box > img:hover {
	width:270px;
	height:430px;
    transform:translatex(-65px) translatey(-105px);
	z-index:2;
}

.index_box > img:first-child {
	left:0;
}
.index_box > img:nth-child(2) {
	left:165px;
}
.index_box > img:nth-child(3) {
	left:330px;
}
.index_box > img:nth-child(4) {
	left:495px;
}
.index_box > img:nth-child(5) {
	left:660px;
}
.index_box > img:nth-child(6) {
	left:825px;
}

/* 소개 페이지 */

.info_box {
	padding:20px 0px;
}

.info_box > div {
	background-color:#000000;
    border-radius:20px;
    margin:50px 0px;
    padding:50px;
	cursor:pointer;
}

.info_box > div:hover {
	background-color:#afafaf;
}

.info_box > div > h1 {
    color:white;
	margin:0;
}

.info_box > div > span {
    color:white;
	margin-left:10px;
}

.info_box > div > a {
    color:white;
    font-size:15px;
}
.info_box > div:hover > h1 {
    color:red;
    font-size:30px;
    transition:2s;
}

.info_box > div:hover > span {
    color:black;
    font-size:16px;
    font-weight:bold;
    letter-spacing:-1px;
    transition:2s;
}

.info_box > div > a:hover {
    font-size:20px;
}

/* 위치 페이지 */

.loca_box {
	text-align:center;
	padding:20px 0px;
}

.loca_box > span {
	font-size:20px;
	font-weight:bold;
}

.loca_box > img {
	margin:20px;
}

/* 메뉴 페이지 */

.food_box {
	padding:20px 0px;
}

.food_box > img {
	display:block;
    margin:70px auto;
    width:100%;
    height:10%;
}

.food_box > span {
    font-weight:bold;
    font-size:4rem;
}

/* 평점 페이지 */
.review_box {
	padding:20px 0px;
}




















/* test */
.test_box {
	position:relative;
	height:960px;
	padding-top:30px;
}

.test_box > div {
	background-color:#bbbbbb;
	border-radius:20px;
	display:block;
	width:960px;
	height:100px;
	padding:20px;
	position:absolute;
	cursor:pointer;
}

.test_box > div:first-child {
	top:50px;
}
.test_box > div:nth-child(2) {
	top:200px;
}
.test_box > div:nth-child(3) {
	top:350px;
}
.test_box > div:nth-child(4) {
	top:500px;
}
.test_box > div:nth-child(5) {
	top:650px;
}
.test_box > div:nth-child(6) {
	top:800px;
}

.test_box > div:hover {
	border:5px solid black;
    transform:translatex(-5px) translatey(-5px);
	z-index:2;
}

.test_box > div > img {
	width:100px;
	height:100px;
	vertical-align:middle;
}

.test_box > div > span {
	margin-left:20px;
	font-size:20px;
	vertical-align:middle;
}













